# LOGS
logs
*.log
npm-debug.log*

# DEPENDENCY DIRECTORIES
node_modules/

# OPTIONAL NPM CACHE DIRECTORY
.npm

# OPTIONAL ESLINT CACHE
.eslintcache

# dotenv environment variables file
# .env

# EDITOR DIRECTORIES AND FILES
.idea
.DS_Store

# GENERATED
/dist/
/coverage/
/build/
