# **/node_modules
# **/dist
# **/lib
# lerna-debug.log

# ### CUSTOM ###
# *.iml

# # IGNORE ARTIFACTS:

# build
# coverage
# target
# **/.eslintcache
# **/coverage

# dist
# node_modules/
# coverage/
# lerna-debug.log

# ### MACOS ###

# # GENERAL

# .DS_Store
# .AppleDouble
# .LSOverride

# # THUMBNAILS

# ._*

# # FILES THAT MIGHT APPEAR IN THE ROOT OF A VOLUME

# .DocumentRevisions-V100
# .fseventsd
# .Spotlight-V100
# .TemporaryItems
# .Trashes
# .VolumeIcon.icns
# .com.apple.timemachine.donotpresent

# # DIRECTORIES POTENTIALLY CREATED ON REMOTE AFP SHARE

# .AppleDB
# .AppleDesktop
# Network Trash Folder
# Temporary Items
# .apdisk

# ### VISUALSTUDIOCODE ###

# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
# *.code-workspace

# ### VISUALSTUDIOCODE PATCH ###

# # IGNORE ALL LOCAL HISTORY OF FILES

# .history

# # END OF HTTPS://WWW.TOPTAL.COM/DEVELOPERS/GITIGNORE/API/VISUALSTUDIOCODE,MACOS

# # DOCKER

# # OS

# .DS_Store

# # DATABASE

# database/*
# !database/.gitkeep

# #**/lib
# # .idea
# .eslintcache

# dump.rdb

# # CAPACITOR

# **/ios
# **/android
# .idea/
