nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9375rem 5%;
    background: #18283b;
}

h3 {
    color: #ffffff;
    font-size: 1.375rem;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    padding: 0.5rem 1.875rem;
    border-radius: 0.4375rem;
    color: #8291a5;
    text-decoration: none;
    transition: all 0.3s ease;
}

ul li a:hover,
ul li a.active {
    background: #0075ff;
    color: #fff;
}

#icon {
    padding: 0.3125rem 0.4375rem 0.1875rem 0.4375rem;
    border-radius: 0.25rem;
    background-color: #0075ff;
    cursor: pointer;
    transition: all 0.3s ease;
}

#icon svg {
    height: 1.75rem;
    color: #fff;
    transition: all 0.3s ease;
}

#icon:hover {
    background: #fff;
}

#icon:hover svg {
    color: #0075ff;
}

#checkbox,
#icon {
    display: none;
}

@media screen and (max-width: 48rem) {
    nav {
        border-bottom: 0.0625rem solid #455468;
    }

    ul {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: calc(100vh - 4.4375rem);
        margin-top: 4.4375rem;
        background-color: #18283b;
        text-align: center;
    }

    ul li {
        display: block;
        padding: 0.625rem 0.9375rem;
    }

    ul li a {
        display: block;
        padding: 0.625rem 0;
    }

    #icon {
        display: block;
    }

    #checkbox:checked ~ ul {
        display: block;
    }
}
